# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset (too large for GitHub)
data/

# Ignore model weights (we can share via Google Drive instead)
*.pth
*.pt

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

